{% extends "inc/base.html" %}

{% load static %}

{% block title %}
<title>Log in</title>
{% endblock title %}

{% block content %}

<h1>Log in</h1>
<div class="col-8">
  <form class="login-form">
    <div class="error">Sorry, wrong login or password</div>
    <div class="form-floating login-input">
      <input type="text" class="form-control" id="floatingLogin" placeholder="login">
      <label for="floatingLogin">
        <span style="color: gray; font-size: 15px">Enter your login</span>
      </label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password">
      <label for="floatingPassword">
        <span style="color: gray; font-size: 15px">Enter your password</span>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

    <p class="create-new-account"><a href="{% url 'registration' %}">Create new account</a></p>
  </form>
</div>

{% endblock %}
  		