{% extends "inc/base.html" %}

{% load static %}

{% block title %}
<title>Question</title>
{% endblock title %}

{% block content %}

<div class="col-8">
	<div class="current-question">
		<div class="row">
			<div class="col-2">
				<div class="current-avatar">
					<img src="{%static '../static/img/korgi.jpg' %}" alt="" />
				</div>

        <div class="current-like">
          <button class="plus cursor">+</button> 
          <button class="minus cursor">-</button>  
          <span class="counter">{{question_item.rating}}</span>
        </div>

			</div>
			<div class="col-10">
				<h1 class="question-title">{{question_item.title}}</h1>
				<div class="question-text" align="justify">
					{{question_item.text}}
				</div>
          <div style="margin-top: 10px">
            <span>Tags: </span>
            <a href="">kotiki</a>
            <a href="">sobachki</a>
          </div>
			</div>
		</div>
	</div>

  <hr>

	{% for answer in page %}
		{% include 'inc/answer-item.html' %}
	{% endfor %}

  <hr>

  <div>
    <textarea name="message" style="border-radius: 6px; border: 2px solid gray;" id="messageField" cols="85" rows="3" placeholder="Enter your answer here..."></textarea>
  </div>

  <button class="btn btn-outline-success" type="submit" style="width: 100px; border: 2px solid green; margin: 10px 0px">Answer</button>

  {% include "inc/paginator.html" %}
</div>

{% endblock %}
