{% extends "inc/base.html" %}

{% load static %}

{% block title %}
<title>Registration</title>
{% endblock title %}

{% block content %}

<h1>Registration</h1>
<div class="col-8">
  <form class="login-form">
    <div class="error">Sorry, this e-mail adress already registered</div>
    <div class="form-floating login-input">
      <input type="text" class="form-control" id="floatingLogin" placeholder="login">
      <label for="floatingLogin">
        <span style="color: gray; font-size: 15px">Enter your login</span>
      </label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
      <label for="floatingEmail">
        <span style="color: gray; font-size: 15px">Enter your e-mail</span>
      </label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingNickname" placeholder="nickname">
      <label for="floatingNickname">
        <span style="color: gray; font-size: 15px">Enter your nickname</span>
      </label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password">
      <label for="floatingPassword">
        <span style="color: gray; font-size: 15px">Enter your password</span>
      </label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password">
      <label for="floatingPassword">
        <span style="color: gray; font-size: 15px">Repeat your password</span>
      </label>
    </div>
    <div>
      <label class="input-file">
          <span class="input-file-text" type="text" style="color: gray; font-size: 15px">Upload avatar</span>
          <input type="file" name="file">        
          <span class="input-file-btn">Choose</span>
          <script src="{% static '../static/js/test.js' %}"></script>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
  </form>
</div>

{% endblock %}
