{% extends "inc/base.html" %}

{% load static %}

{% block title %}
<title>Question</title>
{% endblock title %}

{% block header %}
{% include "inc/autorisated-header.html" %}
{% endblock header %}

{% block content %}

<h1>Settings: Mr. Korgi</h1>
<div class="col-8">
  <form class="login-form">
    <div class="error">Sorry, this this password is not secure</div>
    <div class="form-floating login-input">
      <input type="text" class="form-control" id="floatingLogin" placeholder="login" value="sobaken">
      <label for="floatingLogin">
        <span style="color: gray; font-size: 15px">Enter new login</span>
      </label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" value="sobaken@mail.ru">
      <label for="floatingEmail">
        <span style="color: gray; font-size: 15px">Enter new e-mail</span>
      </label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingNickname" placeholder="nickname" value="subersaba777">
      <label for="floatingNickname">
        <span style="color: gray; font-size: 15px">Enter new nickname</span>
      </label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password">
      <label for="floatingPassword">
        <span style="color: gray; font-size: 15px">Enter new password</span>
      </label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password">
      <label for="floatingPassword">
        <span style="color: gray; font-size: 15px">Repeat new password</span>
      </label>
    </div>
    <div>
      <label class="input-file">
          <span class="input-file-text" type="text" style="color: gray; font-size: 15px">Upload new avatar</span>
          <input type="file" name="file" value="{% static '../static/img/korgi.jpg' %}">      
          <span class="input-file-btn">Choose</span>
          <script src="{% static '../static/js/test.js' %}"></script>
      </label>
    </div>
    <div class="current-avatar" style="margin-top: 10px; margin-left: 200px;">
      <img src="{% static '../static/img/korgi.jpg' %}" alt="" />
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
  </form>
</div>

{% endblock %}
