<!doctype html>

{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  {% block title %}
  {% endblock title %}

  <link href="{% static '../static/css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
  <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>

  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
 
  <!-- Custom styles for this template -->
  <link href="{% static '../static/css/style.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

{% if is_authorisated == true %}
  {% include "inc/autorisated-header.html" %}
{% else %}
  {% include "inc/unautorisated-header.html" %}
{% endif %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
  	<div class="row">
      {% block content %}
      {% endblock %}
  		<div class="col-4">
        <div class="sidebar">
 
          <h2>Popular tags</h2>

          {% for tag in popular_tags %}
              <a href="{% url 'tag' tag.name %}" class='{{ tag.style }}'>
                  {{ tag.name }}
              </a>
          {% endfor %}

          <h2>Best members</h2>

          {% for member in best_members %}
              <li>{{ member.name }}</li>
          {% endfor %}

        </div>
      </div>
  	</row>
  </div>

</main>

</body>
</html>
