{% load static %}

<div class="question">
	<div class="row">
		<div class="col-2">
			<div class="avatar">
        {% with question.get_author.get_avatar as image_static %}
				<img src="{% static image_static %}" alt="" />
        {% endwith %}
			</div>

      <div class="like">
        <button class="plus cursor">+</button> 
        <button class="minus cursor">-</button>  
        <span class="counter">{{question.rating}}</span>
      </div>

		</div>
		<div class="col-10">
			<h2 class="question-title">{{question.title}}</h2>
			<div class="question-text" align="justify">
				{{question.text}} 
			</div>
      <div class="row">
        <div class="col-6">
          <a href="{% url 'question' id=question.id %}" style="text-decoration: none;">answer ({{question.get_num_answers}})</a>
        </div>
        <div class="col-6">
          <span>Tags: </span>
          {% for tag in question.get_tags %}
              <a href="{% url 'tag' tag %}" style="text-decoration: none;">
                  {{ tag }}
              </a>
          {% endfor %}
        </div>
      </div>  
		</div>
	</div>
</div>